.registration-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    width: 437px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 44px;
    margin-left: 350px;
    position: relative;
    z-index: 2;
}
.body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 88%;
}
.reg-or-log-frame{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    height: 47px;
}
.join-worldit{
    font-size: 24px;
    font-weight: 500;
}
.registration-form{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.image{
    width: 679px;
    height: 527px;
}
.background-image{
    position: absolute;
    width: 679px;
    height: 527px;
    margin-left: 700px;
    z-index: 1;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
button{
    width: 311px;
    height: 52px;
    border-radius: 1234px;
    border: none;
    background-color: rgba(84, 60, 82, 1);
    font-size: 16px;
    color: white;
    margin-left: 18px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(68, 48, 66);
    color: rgb(228, 228, 228);
}
.line{
    margin-left: 182px;
    width: 165px;
    height: 1px;
    background-color: rgba(84, 60, 82, 1);
}

.authorithation-title{
    color: rgba(129, 129, 141, 1);
    font-weight: 500;
    font-size: 30px;
    height: 39px;
}
.authorithation-title:hover{
    color: rgb(104, 104, 112);
    cursor: pointer;
}
.registration-title{
    font-size: 30px;
    height: 39px;
}

input{
    height: 42px;
    border-radius: 10px;
}
a{
    all: unset;
}
a:hover{
    cursor: pointer;
}
.join-qr{
    font-size: 15px;
    font-weight: 400;
    height: 18px;
}
.qr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.label-qr{
    width: 400px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.line-qr{
    width: 55px;
    height: 2px;
    background-color: rgba(129, 129, 141, 1);
}
li{
    color: red;
}