{% extends "base_header_main.html" %}
{% load static %}

{% block title %}
    Друзі
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'friends/css/friends.css' %}">
{% endblock %}


{% block content %}
    <div class="center">
        <div class="settings-links">
            <a href="{% url 'main_friends' %}" class="link two">Головна</a>
            <a class="link two" href = "{% url 'all_requests' %}">Запити</a>   
            <a class = "link two" href = "{% url 'recommended' %}">Рекомендації</a>
            <a class = "link one-friend" href = "{% url 'all_friends' %}">Всі друзі</a>
        </div>
        <div class = "all-frames">
            <div class = "request-card">
                <div class = "title-card">
                    <h1 class = "title-h1 h1">Всі друзі</h1>
                    <a class = "title-watch h1" href = "{% url 'all_friends'%}">Дивитись усі</a>
                </div>
                <div class = "all-cards request">
                    {% for friend in all_friends %}
                    <div class = "card" id = "card-friend-{{friend.user.pk}}">
                        
                        <div class = "profile-card">
                            <img class = "avatar" src="{{ friend.profile_image.url }}" alt="">
                            <h1>{{friend.user.profile_image.url}}</h1>
                        </div>
                        
                            <div class = "card-info">
                                <h1 class = "name">{{ friend.user.first_name }} {{ friend.user.last_name }}</h1>
                                <h1 class = "tag-name">@{{ friend.user.username }}</h1>
                            </div>
                        
                    
                        <div class = "card-buttons">
                            <a class = "button button-confirm">
                                Повідомлення
                            </a>
                            <a class = "button button-delete-friend" id = "{% url 'delete_friend' friend.user.pk%}">
                                Видалити
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "{% static 'friends/js/script.js' %}"></script>
{% endblock %}