{% extends "base_header_main.html" %}
{% load static %}

{% block title %}
    Альбоми
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'albums/css/albums.css' %}">
{% endblock %}

{% block content %}
    <div class="center">
        <div class="settings-links">
            <a href="{% url 'user_settings' %}" class="link one">Особиста інформація</a>
            <a href="{% url 'albums' %}" class="link two">Альбоми</a>
        </div>

        <div class="main-card">
            <div class="albums">
                <div class="header-card">
                    <p>Мої фото</p>
                    <button class="add-photo-button"><img src="{% static 'albums/images/photo.png' %}" alt="" class="photo-add">Додати фото</button>
                </div>
                <div class="content-photos">
                    <div class="photo">
                        <img src="{% static 'albums/images/cat1.jpg' %}" alt="" class="img-card">
                        <div class="edit-image">
                            <button class="mini-buttons"><img src="{% static 'albums/images/eye.png' %}" alt="" class="mini-icons"></button>
                            <button class="mini-buttons"><img src="{% static 'albums/images/delete.png' %}" alt="" class="mini-icons"></button>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="albums">
                <div class="header-card">
                    <p>Немає ще жодного альбому</p>
                    <button class="add-photo-button two" id="createAlbumButton"><img src="{% static 'albums/images/add.png' %}" alt="" class="photo-add">Створити альбом</button>
                </div>
            </div>  

        </div>
        
    </div>
    
    
    <div class="hidden center-window" id="centerAddAlbum">
        <div class="hidden window" id="windowAddAlbum">
            <div class="cross-div">
                <img src="{% static 'albums/images/close.png' %}" alt="" id="crossButton" class="cross">
            </div>
            <h1>Створити альбом</h1>
            <div class="inputs-div">
                <div class="input-div">
                    <p>Назва альбому</p>
                    <input type="text" placeholder="Настрій" class="first-input">
                </div>
                <div class="input-div">
                    <p>Оберіть тему</p>
                    <input type="text" placeholder="Природа">
                </div>
                <div class="input-div">
                    <p>Рік альбому</p>
                    <input type="text" placeholder="Оберіть рік">
                </div>
            </div>
            
            <div class="buttons-album">
                <button class="cancel-button">Скасувати</button>
                <button class="save-button">Зберегти</button>
            </div>
            
            
        </div>
    </div>


{% endblock %}

{% block script %}
    <script src = "{% static 'albums/js/album.js' %}"></script>
{% endblock %}