{% extends "base_header_main.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}
    Друзі
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'friends/css/friends.css' %}">
{% endblock %}


{% block content %}
    <div class="center">
        <div class="settings-links">
            <a href="{% url 'main_friends' %}" class="link two">Головна</a>
            <a class="link two" href = "{% url 'all_requests' %}">Запити</a> 
            <a class = "link one" href = "{% url 'recommended' %}">Рекомендації</a>
            <a class = "link two-friend" href = "{% url 'all_friends' %}">Всі друзі</a>
        </div>
        <div class = "all-frames">
            <div class = "request-card">
                <div class = "title-card">
                    <h1 class = "title-h1 h1">Рекомендації</h1>
                    <a class = "title-watch h1" href = "{% url 'recommended'%}">Дивитись усі</a>
                </div>
                <div class = "all-cards request">
                    {% for recommended in all_recommended %}
                        <div class = "card" id = "card-recommended-{{recommended.user.pk}}">
                            <div class = "profile-card">
                                {% with author_avatar=author_avatars|get_item:recommended.user.id%}
                                    {% if author_avatar and author_avatar.image %}
                                        <img class="post-friend-avatar" src="{{ author_avatar.image.url }}" alt="">
                                    {% else %}
                                        <img class="post-friend-avatar" src="{% static 'images/icons/account.png' %}" alt="">
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class = "card-info">
                                <h1 class = "name">{{recommended.user.first_name}} {{ recommended.user.last_name }}</h1>
                                <h1 class = "tag-name">@{{ recommended.user.username }}</h1>
                            </div>
                        
                            <div class = "card-buttons">
                                <a class = "button button-confirm button-confirm-recomended" id = "{% url 'sent_request' recommended.user.pk %}">
                                    Додати
                                </a>
                                <a class = "button button-delete-recommended" id = "{% url 'delete_recommended' recommended.user.pk%}">
                                    Видалити
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "{% static 'friends/js/script.js' %}"></script>
{% endblock %}